.jumbotron {
  padding-top: 6rem;
  background-color: #f9c5d5;
}

#gallery {
  background-color: #f9c5d5;
}

#contact {
  background-color: #f9c5d5;
}

footer {
  background-color: #f999b7;
}

section {
  padding-top: 5rem;
}
